

<H2>Enter your Email address to get password reset link</H2>

 <form name="forgotForm"  ng-submit="submitForm(ForgetForm)" novalidate>

    <input type="email" name="validEmail" ng-model="ForgotEmail" placeholder="Email" required/>
    <span  ng-show="forgotForm.validEmail.$touched && forgotForm.validEmail.$invalid &&
     !forgotForm.validEmail.$error.required">Invalid email </span>
    <span  ng-show="forgotForm.validEmail.$touched && forgotForm.validEmail.$error.required">
        Cannot be left empty </span>
    <span  ng-show="submitted && !forgotForm.validEmail.$touched &&
     forgotForm.validEmail.$error.required">Cannot be left empty </span>
    <span  ng-show="submitted && !forgotForm.validEmail.$touched &&
     forgotForm.validEmail.$invalid">
        Invalid email </span>
        
    
    <input type="submit" ng-click="submitted=true;" value="Send link">

    </form>
    {{result}}

    <H1> <a href="#login">LogIn</a></H1>