
<div ng-hide="SendForm">
<H2>Forgot Your Password?</H2>
<H5>Enter your Email address to get password reset link</H5>

 <form name="forgotForm"  ng-submit="submitForm(forgotForm)" novalidate>

    <input type="email" name="validEmail" ng-model="forgotpassword.ForgotEmail" placeholder="Email" required/>
    <span  ng-show="forgotForm.validEmail.$touched && forgotForm.validEmail.$invalid &&
     !forgotForm.validEmail.$error.required">Invalid email </span>
    <span  ng-show="forgotForm.validEmail.$touched && forgotForm.validEmail.$error.required">
        Cannot be left empty </span>
    <span  ng-show="submitted && !forgotForm.validEmail.$touched &&
     forgotForm.validEmail.$error.required">Cannot be left empty </span>
    <span  ng-show="submitted && !forgotForm.validEmail.$touched &&
     forgotForm.validEmail.$invalid && !forgotForm.validEmail.$error.required">
        Invalid email </span>
        
    
    <input type="submit" ng-click="submitted=true;" value="Send link">

    </form>

</div>
{{result}}

<div ng-hide="NewPasswordForm">
    <form name="NewPassForm" ng-submit="submitPasswordForm(NewPassForm)" novalidate>


    <h5>New password</h5>
    <input type="password" ng-keyup="checkPassword()" ng-model="forgotpassword.ResetPassword" name="resetpass"  
    placeholder="Password" pattern="[a-z0-9A-Z!@#$%^&*()_.]{8,25}" required/>
        <span  ng-show="NewPassForm.resetpass.$touched && NewPassForm.resetpass.$error.pattern &&
        !NewPassForm.resetpass.$error.required">
        password too small or invalid character,use(8-25 char)(a-z,0-9,A-Z,!,@,#,$,%,^,&,*,(,),_,.) </span>
        <span  ng-show="NewPassForm.resetpass.$touched && NewPassForm.resetpass.$error.required">Cannot be left empty </span>
        <span  ng-show="PasswordSubmitted && !NewPassForm.resetpass.$touched &&
        NewPassForm.resetpass.$error.required">Cannot be left empty </span>
        <span  ng-show="PasswordSubmitted && !NewPassForm.resetpass.$touched &&
        NewPassForm.resetpass.$error.pattern">
        password too small or invalid character,use(8-25 char)(a-z,0-9,A-Z,!,@,#,$,%,^,&,*,(,),_,.) </span>

    <h5>New Password Again</h5>
    <input type="password" ng-keyup="checkPassword()" ng-model="forgotpassword.ResetPassword2" placeholder="Password Again" />
    {{PasswordMessage}}



<input type="submit" ng-click="PasswordSubmitted=true;" value="Change password">
</form>

{{PasswordResult}}

</div>
{{Result}}

<button ng-click="sendAgain();" ng-hide="sendAgainButton">Send Again</button>

 <H1> <a href="#login">LogIn</a></H1>