    <h1>Login Page</h1>

    <form name="loginForm"  ng-submit="submitForm(loginForm)" novalidate>

    <input type="text" ng-model="login.loginid" name="validloginid"
     pattern="[a-zA-Z0-9_.@!#$%^&*-+=><?/~`'|]{5,50}" placeholder="Email/Username/Mobile" required>
    <span  ng-show="loginForm.validloginid.$touched &&
     loginForm.validloginid.$error.pattern && !loginForm.validloginid.$error.required">
     Invalid email/username/Mobile </span>
    <span  ng-show="loginForm.validloginid.$touched &&
     loginForm.validloginid.$error.required">Cannot be left empty </span>
    <span  ng-show="submitted && !loginForm.validloginid.$touched &&
     loginForm.validloginid.$error.required">
        Cannot be left empty </span>
    <span  ng-show="submitted && !loginForm.validloginid.$touched &&
     loginForm.validloginid.$error.pattern">
        Invalid email/username </span>
    

    <input type="password" ng-model="login.loginpassword" placeholder="Password" 
    name="validloginpass" pattern="[a-z0-9A-Z!@#$%^&*()_.]{8,25}" required>
    <span  ng-show="loginForm.validloginpass.$touched &&
     loginForm.validloginpass.$error.pattern && !loginForm.validloginpass.$error.required">
     password too small or invalid character,use(8-25 char)(a-z,0-9,A-Z,!,@,#,$,%,^,&,*,(,),_,.) </span>
    <span  ng-show="loginForm.validloginpass.$touched && loginForm.validloginpass.$error.required">
        Cannot be left empty </span>
    <span  ng-show="submitted && !loginForm.validloginpass.$touched &&
     loginForm.validloginpass.$error.required">Cannot be left empty </span>
    <span  ng-show="submitted && !loginForm.validloginpass.$touched &&
     loginForm.validloginpass.$error.pattern">
     password too small or invalid character,use(8-25 char)(a-z,0-9,A-Z,!,@,#,$,%,^,&,*,(,),_,.) </span>

    <input type="checkbox" ng-model="login.RememberMe" value="false">Remember Me<br>
    
    <input type="submit" ng-click="submitted=true;" value="Login">

    </form>
    {{result}}
 
    <H3><a ng-href="#forgotpassword">Forgot Password</a></H3>

    <H1><a ng-href="#signup">SIGNUP</a></H1>
 

<div ng-controller="GoogleCtrl">     
    <input type="button" ng-click="SignInGoogle()" value="Sign in with google" />
    {{GoogleMessage}}
</div>

<div ng-controller="FacebookCtrl">     
    <a href="/social/socialFacebook/" target="_self"`>Login with Facebook</a>
    {{FacebookMessage}}
</div>
