<h1>PROFILE</h1>
<h5>Email</h5> <p>{{Email}}</p>
<h5>Username</h5><p>{{uName}}</p>
<h3>

<div>
    
    <h5>Name</h5><p>{{Name||"Not Saved"}}</p>   
    <h5>Address</h5>
    <h5>Area</h5><p>{{Area||"Not Saved"}}</p>
    <h5>City</h5><p>{{City||"Not Saved"}}</p>
    <h5>State</h5><p>{{State||"Not Saved"}}</p>
    <h5>Pincode</h5><p>{{Pincode||"Not Saved"}}</p>
    <h5>Country</h5><p>{{Country||"Not Saved"}}</p>
</div>

<form name="profForm" ng-submit="submitProfileForm(profForm)" novalidate>
    <h5>Full Name</h5>
    <input type="text" ng-model="newName" pattern="[A-Za-z ]{3,30}" required>
    <span  ng-show="profForm.validName.$touched &&
     profForm.validName.$error.pattern &&
      !profForm.validName.$error.required">
      Invalid name(Should be 3-30 only a-z,A-Z and space allowed) </span>
    <span  ng-show="profForm.validName.$touched &&
     profForm.validName.$error.required">Cannot be left empty </span>
    <span  ng-show="ProfileSubmitted && !profForm.validName.$touched &&
     profForm.validName.$error.required">
        Cannot be left empty </span>
    <span  ng-show="submitted && !profForm.validName.$touched &&
     profForm.validName.$error.pattern">
      Invalid name(Should be 3-30 only a-z,A-Z and space allowed) </span>

    <h5>Area</h5>
    <input type="text" name="validArea" ng-model="newArea" 
    placeholder="Area" pattern="[A-Za-z0-9,-. ]{5,50}" required>
        <span  ng-show="profForm.validArea.$touched &&
     profForm.validArea.$error.pattern &&
      !profForm.validArea.$error.required">
      Invalid Area(Should be 5-50 only a-z,A-Z,0-9,-,. , and space allowed) </span>
    <span  ng-show="profForm.validArea.$touched &&
     profForm.validArea.$error.required">Cannot be left empty </span>
    <span  ng-show="ProfileSubmitted && !profForm.validArea.$touched &&
     profForm.validArea.$error.required">
        Cannot be left empty </span>
    <span  ng-show="submitted && !profForm.validArea.$touched &&
     profForm.validArea.$error.pattern">
     Invalid Area(Should be 5-50 only a-z,A-Z,0-9,-,. , and space allowed) </span>

    <h5>City</h5>
    <input type="text" name="validCity" ng-model="newCity" 
    placeholder="City" pattern="[A-Za-z0-9 ]{4,15}" required>
        <span  ng-show="profForm.validCity.$touched &&
     profForm.validCity.$error.pattern &&
      !profForm.validCity.$error.required">
      Invalid City(Should be 4-15 only a-z,A-Z,0-9 and space allowed) </span>
    <span  ng-show="profForm.validCity.$touched &&
     profForm.validCity.$error.required">Cannot be left empty </span>
    <span  ng-show="ProfileSubmitted && !profForm.validCity.$touched &&
     profForm.validCity.$error.required">
        Cannot be left empty </span>
    <span  ng-show="submitted && !profForm.validCity.$touched &&
     profForm.validCity.$error.pattern">
     Invalid City(Should be 4-15 only a-z,A-Z,0-9 and space allowed)</span>
    
    <h5>State</h5>
    <input type="text" name="validState" ng-model="newState" 
    placeholder="State" pattern="[A-Za-z0-9 ]{4,15}" required>
        <span  ng-show="profForm.validState.$touched &&
     profForm.validState.$error.pattern &&
      !profForm.validState.$error.required">
      Invalid State(Should be 4-15 only a-z,A-Z,0-9 and space allowed) </span>
    <span  ng-show="profForm.validState.$touched &&
     profForm.validState.$error.required">Cannot be left empty </span>
    <span  ng-show="ProfileSubmitted && !profForm.validState.$touched &&
     profForm.validState.$error.required">
        Cannot be left empty </span>
    <span  ng-show="submitted && !profForm.validState.$touched &&
     profForm.validState.$error.pattern">
     Invalid State(Should be 4-15 only a-z,A-Z,0-9 and space allowed)</span>
    
    <h5>Pincode</h5>
    <input type="text" name="validPincode" ng-model="newPincode" 
    placeholder="Pincode" pattern="[0-9]{3,15}" required>
        <span  ng-show="profForm.validPincode.$touched &&
     profForm.validPincode.$error.pattern &&
      !profForm.validPincode.$error.required">
      Invalid Pincode(Should be 3-15 digits only 0-9 allowed) </span>
    <span  ng-show="profForm.validPincode.$touched &&
     profForm.validPincode.$error.required">Cannot be left empty </span>
    <span  ng-show="ProfileSubmitted && !profForm.validPincode.$touched &&
     profForm.validPincode.$error.required">
        Cannot be left empty </span>
    <span  ng-show="submitted && !profForm.validPincode.$touched &&
     profForm.validPincode.$error.pattern">
     Invalid Pincode(Should be 3-15 digits only 0-9 allowed) </span>

    <h5>Country</h5>
    <country-select name="validCountry" ng-model="newCountry" cs-required 
    cs-priorities="IN, AU, DE, GB, US" option value="India"></country-select>
        {{dataValid}}
    <!--country-select ng-model="newCountry" cs-only="AU, DE, GB, US"></country-select-->


<input type="submit" ng-click="ProfileSubmitted=true;" value="Edit Profile">
</form>

<div>
    <h5>Mobile Number</h5><p>{{Mobile||"Not Saved"}}</p>
</div>

<form name="mobileForm" ng-submit="submitMobileForm(mobileForm)" novalidate>
    <h5>Country Code</h5>
    <input type="text" ng-model="countryCode" name="validCode" pattern="[0-9+]{3}" required/>
     <span  ng-show="mobileForm.validCode.$touched &&
     mobileForm.validCode.$error.pattern &&
      !mobileForm.validCode.$error.required">
      Invalid Country code(Should be 3 digits only 0-9,+ allowed) </span>
    <span  ng-show="mobileForm.validCode.$touched &&
     mobileForm.validCode.$error.required">Cannot be left empty </span>
    <span  ng-show="MobileSubmitted && !mobileForm.validCode.$touched &&
     mobileForm.validCode.$error.required">
        Cannot be left empty </span>
    <span  ng-show="submitted && !mobileForm.validCode.$touched &&
     mobileForm.validCode.$error.pattern">
    Invalid Country code(Should be 3 digits only 0-9,+ allowed) </span>
    


    <h5>Mobile Number</h5>
    <input type="tel" ng-model="newMobile" name="validMobile" placeholder="New Mobile number" pattern="[0-9]{10}" required/>
     <span  ng-show="mobileForm.validMobile.$touched &&
     mobileForm.validMobile.$error.pattern &&
      !mobileForm.validMobile.$error.required">
      Invalid Mobile number(Should be 10 digits only 0-9 allowed) </span>
    <span  ng-show="mobileForm.validMobile.$touched &&
     mobileForm.validMobile.$error.required">Cannot be left empty </span>
    <span  ng-show="MobileSubmitted && !mobileForm.validMobile.$touched &&
     mobileForm.validMobile.$error.required">
        Cannot be left empty </span>
    <span  ng-show="submitted && !mobileForm.validMobile.$touched &&
     mobileForm.validMobile.$error.pattern">
     Invalid Mobile number(Should be 10 digits only 0-9 allowed) </span>

        {{MobileMessage}}

    <input type="submit" ng-click="MobileSubmitted=true;" value="Verify">
</form>

<form name="passForm"  ng-submit="submitPasswordForm(passForm)" novalidate>

<h5>Old Password</h5>
 <input type="password"  ng-model="oldPassword" name="oldpass"  
 placeholder="Password" pattern="[a-z0-9A-Z!@#$%^&*()_.]{8,25}" required/>  
    <span  ng-show="passForm.oldpass.$touched && 
    passForm.oldpass.$error.pattern && !passForm.oldpass.$error.required">
    password too small or invalid character,use(8-25 char)(a-z,0-9,A-Z,!,@,#,$,%,^,&,*,(,),_,.) </span>
    <span  ng-show="passForm.oldpass.$touched && passForm.oldpass.$error.required">Cannot be left empty </span>
    <span  ng-show="PasswordSubmitted && !passForm.oldpass.$touched &&
     passForm.oldpass.$error.required">Cannot be left empty </span>
    <span  ng-show="submitted && !passForm.oldpass.$touched &&
     passForm.oldpass.$error.pattern">
     password too small or invalid character,use(8-25 char)(a-z,0-9,A-Z,!,@,#,$,%,^,&,*,(,),_,.) </span>

<h5>New password</h5>
 <input type="password" ng-keyup="checkPassword()" ng-model="newPassword" name="newpass"  
 placeholder="Password" pattern="[a-z0-9A-Z!@#$%^&*()_.]{8,25}" required/>
   <span  ng-show="passForm.newpass.$touched && passForm.newpass.$error.pattern &&
    !passForm.newpass.$error.required">
    password too small or invalid character,use(8-25 char)(a-z,0-9,A-Z,!,@,#,$,%,^,&,*,(,),_,.) </span>
    <span  ng-show="passForm.newpass.$touched && passForm.newpass.$error.required">Cannot be left empty </span>
    <span  ng-show="PasswordSubmitted && !passForm.newpass.$touched &&
     passForm.newpass.$error.required">Cannot be left empty </span>
    <span  ng-show="submitted && !passForm.newpass.$touched &&
     passForm.newpass.$error.pattern">
     password too small or invalid character,use(8-25 char)(a-z,0-9,A-Z,!,@,#,$,%,^,&,*,(,),_,.) </span>

<h5>New Password Again</h5>
<input type="password" ng-keyup="checkPassword()" ng-model="newPassword2" placeholder="Password Again" />
{{PasswordMessage}}



<input type="submit" ng-click="PasswordSubmitted=true;" value="Change password">
</form>

{{PasswordResult}}
